#previewFull {
  background-color: #979797 !important;
  width: 1215px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

body {
  background-color: #B1D7E9 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

.borderRight {
  border-right: 1px solid #FFFFFF !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #282828 !important;
  background-color: inherit;
}

.preview {
  border: 27px solid #000000 !important;
}

.thumbnail {
  background-color: #4B6570 !important;
  color: inherit;
}

#wrapper_thumb {
  width: 484px !important;
}

#stage2 {
  width: 1215px !important;
}

.itemNumber {
  color: #DFDFDF !important;
  display: none !important;
  background-color: inherit;
}

.caption {
  color: #282828 !important;
  background-color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #FFFFFF !important;
  border-left: 1px solid #FFFFFF !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #FFFFFF !important;
  color: inherit;
}

.borderRightDotted {
  border-right: 1px dotted #FFFFFF !important;
}

.borderBottomRight {
  border-right: 1px solid #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF !important;
}

#wrapper_large {
  width: 1215px !important;
}

.emptyThumbnail {
  background-color: #4B6570 !important;
  color: inherit;
}

#previewImage {
  maxSize: 1131.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #FFFFFF !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #333333 !important;
  background-color: inherit;
}
